*{
    margin: 0;
    padding: 0;
}

.demo{
    width:300px;
    height: 100px;
    background: #000;
    color: white;
    
    padding: 30px;
    /*After giving 30px padding,the default width height got increased!!*/
}

